<!DOCTYPE HTML>
<html>
<head>
    <title>contents-proxy-blog-team1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>

    <h1>메인 화면입니다.</h1>

    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
</body>
</html>