<!DOCTYPE HTML>
<html>
<head>
    <title>contents-proxy-blog-team1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
<h2>Post 상세보기</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>제목</th>
        <th>내용</th>
    </tr>
    </thead>
    <tbody>
    {{#post}}
        <tr>
            <td>{{title}}</td>
            <td>{{{contents}}}</td>
        </tr>
    {{/post}}
    </tbody>
</table>
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
</body>
</html>